<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars Dealership</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="btn" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="btn" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    <button class="btn btn-outline-primary" type="submit">Login</button>
                    <button class="btn btn-primary" type="submit">Signup</button>
                </li>
            </ul>
        </div>
    </nav>

    <h1>
        <Address>Victoria, BC, Canada</Address>
        Phone Number: 999-999-9999
    </h1>

    </body>

</html>