<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars Dealership</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="btn" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="btn" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    <button class="btn btn-outline-primary" type="submit">Login</button>
                    <button class="btn btn-primary" type="submit">Signup</button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-l-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">How did we do? Tell us about your experience at Best Cars Dealership</h1>
                <p>
                    At Best Cars, we're here to assist you with all your automotive needs. 
                    Whether you have questions about our inventory, financing options, or service offerings, or you simply want to provide feedback, we're ready to help. 
                    Please don't hesitate to reach out to us using the contact information below.
                </p>
            </div>

            <div class="col-lg-5">
                <form>
                    <div class="form-group pb-2 justify-content-center">
                        <h3>Send us a message</h3>
                    </div>
                    
                    <div class="form-group pb-2">
                        <input class="container-fluid" type="text" placeholder="Full name*">
                    </div>
    
                    <div class="form-group pb-2">
                        <input class="container-fluid" type="text" placeholder="Email Address*">
                    </div>
    
                    <div class="form-group pb-2">
                        <input class="container-fluid" type="text" placeholder="Subject">
                    </div>
    
                    <div class="form-group pb-2">
                        <label for="message"><b>Tell us more about your experience</b></label>
                        <textarea class="container-fluid" style="height: 150px;" id="message" type="text"> </textarea>
                    </div>
                </form>
                

            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Mail us at:</h5>
                    <a href="mailto:">bestcars@geemail.com</a>
                </div>
                <div class="col-sm-3">
                    <h5>Our office location</h5>
                    <address>Random Street, Victoria, BC, Canada</address>
                </div>
    
                <div class="col-sm-3 offset-1">
                    <h5>Phone</h5>
                    <a href="tel:+">999-999-9999</a>
                </div>

            </div>
            
        </div>
    </footer>

    </body>

</html>